doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        meta(name='description', content='')
        meta(name='viewport', content='width=1170')

        title Проведем СОУТ рабочих мест любой сложности за 1 неделю

        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/sumoselect.css')
        link(rel='stylesheet', href='css/fonts.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    body
        section.block1
            div.container
                div.row
                    div.col-4
                        a.logo
                            img(src="images/logo.png")
                            span Проводим специальную оценку условий<br>труда по всей России с 2007 года
                    div.col-8
                        div.nav-block
                            div.menu-bg
                            div.menu-wrapper
                                ul
                                    li
                                        a(href="#any-time")
                                            span До проверки
                                            br
                                            span мало времени?
                                    li
                                        a(href="#what-is-sout")
                                            span Что такое СОУТ
                                            br
                                            span и нужна ли она вам
                                    li
                                        a(href="#sout-price")
                                            span Цены
                                    li
                                        a(href="#sout-time")
                                            span Сроки
                            div.contacts-block
                                a.phone(href="tel:88002004028") 8 800 200-40-28
                                a.order-call(href='#order-call') Заказать звонок
                div.row
                    .col-12
                        div.utp Проведем СОУТ рабочих мест<br>любой сложности за 1 неделю<br>и сэкономим до 80% стоимости оценки
                        div.sub-utp С увеличенно гарантией 15 лет и в соответствии с 426-ФЗ
                        div.links-block
                            a(href="#reestr1")
                                span В Реестре Минтруда
                                br
                                span под №201
                            a(href="#reestr1")
                                span Лаборатория внесена в реестр
                                br
                                span Росаккредитации №RA.RU.21AE48 от 10.12.2015г.
                        div.block1-text Узнайте стоимость СОУТ прямо сейчас
                        a.btn.big#btn-block1(href="#block2")
                            span Рассчитать стоимость

        section.block2#block2
            div.container
                div.women
                div.row
                    div.col-12
                        div.text-block
                            div.text1 Получите расчет стоимости СОУТ в вaшей организации
                                br
                                b и зафиксируйте за собой скидку
                            div.text2 10%
                        div.order-form
                            form
                                div.control-group
                                    label Как к вам обращаться?
                                    input(type='text',id='username',name='username',placeholder='Имя')
                                div.control-group
                                    label Введите количество рабочих мест
                                    input(type='text',id='placecount',name='placecount',placeholder='')
                                div.control-group
                                    div.upload-btn-wrapper
                                        a.btn-upload Прикрепите штатное расписание (если есть)
                                        input(type='file',id='userfile',name='userfile')
                                div.control-group
                                    label Ваш email
                                    input(type='text',id='useremail',name='useremail',placeholder='hello@gmail.com')
                                div.control-group
                                    a.btn
                                        span Получить расчет<br>и зафиксировать скидку
                                            i.label 10%
                                div.policy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с&nbsp;
                                    a(href="policy.pdf", target='_blank') Политикой конфиденциальности

        section.block3-1
            div.container
                div.row
                    div.col-7
                        div.text1 С ООО «Центр качества»<br>вы экономите на СОУТ
                        div.text2 до 80%
                    div.col-5
                        div.text3 Мы поможем снизить стоимость оценки, сократить налоги и отчисления в фонды

        section.block3-2
            div.container
                div.benefits-item
                    div.row
                        div.col-2
                            div.benefits-item-number 1/
                        div.col-5
                            div.benefits-item-header Правильно определим аналогичные рабочие места
                            div.benefits-item-text За счет этого вы сэкономите до 60% затрат на СОУТ.
                        div.col-5
                            img(src="images/i1.png")
                            div.benefits-item-text2 В кабинете работает 7 сотрудников:  секретарь, бухгалтер,
                                | 5 менеджеров. Но при проведении СОУТ вы будете платить только за 4 рабочих места.
                                br
                                br
                                | Менеджеры занимают одинаковую должность, работают на идентичном оборудовании в одной рабочей зоне — 5 рабочих мест считаются аналогичными и оцениваются как 2.
                div.benefits-item
                    div.row
                        div.col-2
                            div.benefits-item-number 2/
                        div.col-5
                            div.benefits-item-header Сократим отчисления в ПФР
                            div.benefits-item-text Дадим рекомендации, как улучшить условия рабочих мест, чтобы снизить отчисления в Пенсионный фонд
                        div.col-5
                            img(src="images/i2.png")
                            div.benefits-item-text2 Компании «Средволгаводхоз» мы посоветовали закупить средства химзащиты, чтобы снизить уровень вредности рабочих мест.
                                br
                                br
                                | В результате класс опасности снизился с 3 до 2, а компания снизила отчисления в ПФР с 4% до 0%.

                div.benefits-item
                    div.row
                        div.col-2
                            div.benefits-item-number 3/
                        div.col-5
                            div.benefits-item-header Поможем возместить затраты на СОУТ из ФСС
                            div.benefits-item-text Это можно сделать в течение 2 месяцев после прохождения оценки.

                        div.col-5
                            img(src="images/i3.png")
                            div.benefits-item-text2 Стоимость СОУТ для строительной компании ООО «Линда» составила 84 000 руб.
                                br
                                br
                                | Мы помогли собрать документы для возмещения и написать заявление на компенсацию — в результате
                                | ФСС вернул клиенту 49% от суммы договора.






        div.modal-block#any-time
            div.modal-close
                a
            div.modal-cont
                div.modal-man
                div.modal-text-block
                    div.modal-text-header Вы можете избежать<br>штрафов или сильно<br>сократить их размер, даже<br>если до проверки осталось<br>несколько дней
                    div.modal-text
                        |Для этого вам нужно &nbsp;
                        span.gray до проверки заключить договор на проведение СОУТ,
                        |&nbsp;оплатить его и предоставить оплаченный счет и договор государственной инспекции. А после проведения оценки мы подадим результаты в надзорные органы для отчета.
                div.order-form
                    form
                        div.form-header Получите расчет стоимости СОУТ со скидкой
                            span 10%
                            |&nbsp;и обсудите дату выезда эксперта на ваше предприятие
                        div.control-group
                            label Как к вам обращаться?
                            input(type='text',id='username1',name='username1',placeholder='Имя')
                        div.control-group
                            label Введите количество рабочих мест
                            input(type='text',id='placecount1',name='placecount1',placeholder='')
                        div.control-group
                            div.upload-btn-wrapper
                                a.btn-upload Прикрепите штатное расписание (если есть)
                                input(type='file',id='userfile1',name='userfile1')
                        div.control-group
                            label Ваш email
                            input(type='text',id='useremail1',name='useremail1',placeholder='hello@gmail.com')
                        div.control-group
                            a.btn
                                span Получить расчет<br>и зафиксировать скидку
                                    i.label 10%
                        div.policy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с
                            a(href="policy.pdf", target='_blank') Политикой конфиденциальности


        div.modal-block#sout-price
            div.modal-close
                a
            div.modal-cont
                div.modal-text-block
                    div.modal-text-header Стоимость проведения СОУТ рассчитывается индивидуально для каждой компании
                    div.modal-text
                        |Цена зависит от нескольких факторов:
                        br
                        |— количества рабочих мест (при этом вы можете сэкономить до 60% при аналогии рабочих мест),
                        br
                        |— количества измеряемых факторов количества рабочих зон,
                        br
                        |— территориального распределения рабочих мест и еще 7 факторов.
                        br
                        |Также вы можете возместить затраты на СОУТ из ФСС, снизитьвыплаты в ПФР и уменьшить базу по налогу на прибыль.
                        br
                        br
                        span Посмотрите, каких результатов мы добились для других компаний:
                        br
                        br
                        b Снизили отчисления в ПФР с 4% до 6%.
                        br
                        br
                        |Компании «Средволгаводхоз» мы посоветовали закупить средства химзащиты, чтобы снизить уровень вредности рабочих мест.  В результате класс опасности изменился с 3 на 2, и компания уменьшила отчисления в пенсионный фонд.
                        br
                        br
                        b Возместили 49% затрат из ФСС
                        br
                        br
                        |Стоимость СОУТ для строительной компании ООО «Линда» составила 84 000 руб. Мы помогли собрать документы для возмещения и написать заявление на компенсацию — в результате ФСС вернул клиенту 49% от суммы договора.
                div.order-form
                    form
                        div.form-header Получите расчет стоимости СОУТ со скидкой
                            span 10%
                            |и обсудите дату выезда эксперта на ваше предприятие
                        div.control-group
                            label Как к вам обращаться?
                            input(type='text',id='username4',name='username4',placeholder='Имя')
                        div.control-group
                            label Введите количество рабочих мест
                            input(type='text',id='placecount4',name='placecount4',placeholder='')
                        div.control-group
                            div.upload-btn-wrapper
                                a.btn-upload Прикрепите штатное расписание (если есть)
                                input(type='file',id='userfile4',name='userfile4')
                        div.control-group
                            label Ваш email
                            input(type='text',id='useremail4',name='useremail4',placeholder='hello@gmail.com')
                        div.control-group
                            a.btn
                                span Получить расчет<br>и зафиксировать скидку
                                    i.label 10%
                        div.policy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с
                            a(href="policy.pdf", target='_blank') Политикой конфиденциальности



        div.modal-block#what-is-sout
            div.modal-close
                a
            div.modal-cont
                div.modal-text-block
                    div.modal-text-header Специальная оценка условий труда (СОУТ) — это выявление вредных и опасных факторов на рабочем месте
                    div.modal-text
                        | После проведения оценки вы получаете пакет документов с результатами — именно его наличие проверяют инспекторы по труду, инспекторы Роспотребнадзора, СЭС и прокуратуры.
                        br
                        br
                        | СОУТ обязательна для всех компаний, в штате которой числятся сотрудники — будь то крупное производство или небольшой офис.
                        br
                        br
                        | Большинству организаций нужно проводить СОУТ 1 раз в 5 лет. Если не провести ее вовремя, то при ближайшей плановой проверке надзорными органами (1 раз в 3 года) инспектор это обнаружит.
                        br
                        br
                        | В лучшем случае компания заплатит штраф размером до 80 000 руб. В  худшем — инспектор приостановит деятельность компании на срок
                        | до 90 суток.
                div.order-form
                    form
                        div.form-header Получите расчет стоимости СОУТ именно для вашей компании и зафиксируйте за собой скидку
                            span 10%
                        div.control-group
                            label Как к вам обращаться?
                            input(type='text',id='username3',name='username3',placeholder='Имя')
                        div.control-group
                            label Введите количество рабочих мест
                            input(type='text',id='placecount3',name='placecount3',placeholder='')
                        div.control-group
                            div.upload-btn-wrapper
                                a.btn-upload Прикрепите штатное расписание (если есть)
                                input(type='file',id='userfile3',name='userfile3')
                        div.control-group
                            label Ваш email
                            input(type='text',id='useremail3',name='useremail3',placeholder='hello@gmail.com')
                        div.control-group
                            a.btn
                                span Получить расчет<br>и зафиксировать скидку
                                    i.label 10%
                        div.policy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с
                            a(href="policy.pdf", target='_blank') Политикой конфиденциальности



        div.modal-block#sout-time
            div.modal-close
                a
            div.modal-cont
                div.modal-text-block
                    div.modal-text-header Средний срок проведения СОУТ в ООО «Центр Качества» — 1 неделя
                    div.modal-text
                        |Эксперт выезжает на ваше предприятие в день заключения договора для проведения замеров.
                        br
                        br
                        |Обычно на выполнение замеров требуется 1-2 рабочих дня, после чего специалисты приступают к оформлению протоколов проведенных исследований и составлению отчета о проведении спецоценки.
                        br
                        br
                        b Периодичность проведения СОУТ — 5 лет.
                        br
                        br
                        |Уже к моменту окончания этого периода нужно подготовить новые документы и подать их в ГИТ. Поэтому лучше делать оценку заранее: как минимум за 2 месяца до завершения действия предыдущей.
                        br
                        br
                        |Если меняется адрес предприятия, технологический процесс, оборудование, вводятся новые должности в штат, требуется внеплановая СОУТ для тех мест, которых эти изменения коснулись.
                        br
                        br
                        b Если вы проводили СОУТ раньше, чем в 2013 году, вам пора заказывать новую оценку, чтобы успеть к сроку и не получить штраф на плановой проверке.
                div.order-form
                    form
                        div.form-header Узнайте срок проведения СОУТ в вашей компании и получите расчет стоимости со скидкой
                            span 10%
                        div.control-group
                            label Как к вам обращаться?
                            input(type='text',id='username2',name='username2',placeholder='Имя')
                        div.control-group
                            label Введите количество рабочих мест
                            input(type='text',id='placecount2',name='placecount2',placeholder='')
                        div.control-group
                            div.upload-btn-wrapper
                                a.btn-upload Прикрепите штатное расписание (если есть)
                                input(type='file',id='userfile2',name='userfile2')
                        div.control-group
                            label Ваш email
                            input(type='text',id='useremail2',name='useremail2',placeholder='hello@gmail.com')
                        div.control-group
                            a.btn
                                span Узнать срок и получить<br>расчет стоимости
                        div.policy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с
                            a(href="policy.pdf", target='_blank') Политикой конфиденциальности


        div.modal-block#order-call
            div.modal-close
                a
            div.modal-cont
                div.order-form
                    form
                        div.form-header Укажите контактные данные и удобное время для звонка
                        div.control-group
                            label Как к вам обращаться?
                            input(type='text',id='username-call',name='username-call',placeholder='Имя')
                        div.control-group
                            label Ваш email
                            input(type='text',id='useremail-call',name='useremail-call',placeholder='hello@gmail.com')
                        div.control-group
                            label Введите телефон
                            input(type='text',id='useremail-phone',name='useremail-phone',placeholder='+7 (000) 000-00-00')
                        div.control-group
                            select.select-time(title="")
                                option Сейчас
                                option 16:30
                                option 17:30
                                option 18:30
                        div.control-group
                            a.btn
                                span Заказать звонок
                        div.policy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с
                            a(href="policy.pdf", target='_blank') Политикой конфиденциальности


        div.modal-block#reestr1
            div.modal-close
                a
            div.modal-cont
                div.modal-image-block
                    img(src="images/lic1.jpg")
                div.order-form
                    form
                        div.form-header Получите расчет стоимости СОУТ и зафиксируйте за собой скидку
                            span 10%
                        div.control-group
                            label Как к вам обращаться?
                            input(type='text',id='username-lic1',name='username-lic1',placeholder='Имя')
                        div.control-group
                            label Введите количество рабочих мест
                            input(type='text',id='placecount-lic1',name='placecount-lic1',placeholder='')
                        div.control-group
                            div.upload-btn-wrapper
                                a.btn-upload Прикрепите штатное расписание (если есть)
                                input(type='file',id='userfile-lic1',name='userfile-lic1')
                        div.control-group
                            label Ваш email
                            input(type='text',id='useremail-lic1',name='useremail-lic1',placeholder='hello@gmail.com')
                        div.control-group
                            a.btn
                                span Узнать срок и получить<br>расчет стоимости
                        div.policy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с
                            a(href="policy.pdf", target='_blank') Политикой конфиденциальности


    script(src="js/jquery-3.2.1.min.js")
    script(src="js/tether.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/jquery.bpopup.min.js")
    script(src="js/jquery.sumoselect.min.js")
    script(src="js/script.js")